In [ ]:
#questions

"""q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list 
    
    
before 29th may 2022 3 PM IST you have to send an answer to me or to shivan 
sudhanshu@ineuron.ai
shivan@ineuron.ai"""

In [9]:
# 1
n=4
for i in range(n+1):
    for j in range(i) :
        print("ineruon ", end=" ")
    print()

ineruon
ineruon  ineruon
ineruon  ineruon  ineruon
ineruon  ineruon  ineruon  ineruon

In [2]:
#best way
n=4
for i in range(n+1):
    print("ineruon "*(i))

ineruon
ineruon ineruon
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

In [4]:
n=3
z=n
s=n
for i in range(n):
    for j in range(i,n-1):
        print(" "*(len("ineruon")//2),end=" ")
    for j in range(i+1):
        print("ineruon",end=" ")
    for j in range(i-z):
        print("ineruon",end=" ")
    print()
    
for i in range(n):
    for j in range(n,s-1,-1):

        print(" "*(len("ineruon")//2),end=" ")
    for j in range(s,1,-1):
        print("ineruon",end=" ")
    print()
    s-=1

        ineruon
    ineruon ineruon
ineruon ineruon ineruon
    ineruon ineruon
        ineruon

In [3]:
# or
for i in range(6):
    if i<=3:
        n=i
    else:
        n=6-i
    print(("ineruon"*n).center(30," "))

           ineruon
        ineruonineruon
    ineruonineruonineruon
        ineruonineruon
           ineruon

In [2]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [4]:
#q3 : Try to extract all the list entity 

count=1
for i in l:
    if type(i)==list:
        print("list",count,"----->",end=" ")
        print(*i,sep=" , ")
        count+=1

list 1 -----> 1 , 2 , 3 , 4
list 2 -----> ineuron , data science

In [100]:
#q4 : Try to extract all the dict enteties
count=1
for i in l:
    if type(i)==dict:
        print("dictionary",count,"----->",*i.items())
        count+=1

dictionary 1 -----> ('k1', 'sudh') ('k2', 'ineuron') ('k3', 'kumar') (3, 6) (7, 8)

In [101]:
#q5 : Try to extract all the tuples entities
count=1
for i in l:
    if type(i)==tuple:
        print("tuple",count,"----->",end=" ")
        print(*i,sep=" , ")
        count+=1

tuple 1 -----> 2 , 3 , 4 , 5 , 6
tuple 2 -----> 3 , 4 , 5 , 6 , 7

In [143]:
#q6 : Try to extract all the numerical data it may b a part of dict key and values 
a=[]
for i in l:
    if type(i)==int or type(i)==float :
        a.append(i)
    elif type(i)==list or type(i)==tuple or  type(i)==set:
        for j in i:
            if type(j)==int or type(j)==float:
                a.append(j)
    elif type(i)==dict :
        for j in i.items():
            if type(j[0])==int or type(j[0])==float:
                  a.append(j[0])
            if type(j[1])==int or type(j[1])==float:
                  a.append(j[1])
                  

                  
print("all the numerical data")          
print(*a,sep=" , ")
print("length---------->",len(a))
len(a)

all the numerical data
1 , 2 , 3 , 4 , 2 , 3 , 4 , 5 , 6 , 3 , 4 , 5 , 6 , 7 , 45 , 4 , 5 , 23 , 3 , 6 , 7 , 8
length----------> 22

22

In [144]:
#q7 : Try to give summation of all the numeric data 
print("summation of all the numeric data --------------->",sum(a))

summation of all the numeric data ---------------> 156

In [19]:
#q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
c=[]
for i in l:

    if type(i)==list:
        for j in i:
            if type(j)==int or type(j)==float:
                c.append(j)

                  

                  
print("all the numerical data in the list")          
print(*c,sep=" , ")
print("length---------->",len(c))

        
n=[]
for i in c:
    if i%2!=0:
        n.append(i)
print("odd values out all numeric data--------->",end=" ")
print(*n,sep=" , ")

all the numerical data in the list
1 , 2 , 3 , 4
length----------> 4
odd values out all numeric data---------> 1 , 3

In [159]:
#q9 : Try to extract "ineruon" out of this data

b=[]
for i in l:
    if type(i)==str and i=="ineuron":
        
        b.append(i)
    elif type(i)==list or type(i)==tuple or  type(i)==set:
        for j in i:
            if type(j)==str and j=="ineuron":
                b.append(j)
   
    elif type(i)==dict :
        for j in i.items():
            if type(j[0])==str and j[0]=="ineuron":
                  b.append(j[0])
                  print("scjsbc")
            if type(j[1])==str and j[1]=="ineuron":
                  b.append(j[1])
  

                  
print("extract ineruon" )          
print(*b,sep=" , ")
print("length---------->",len(b))
len(b)

extract ineruon
ineuron , ineuron
length----------> 2

2

In [7]:
#q10 :Try to find out a number of occurances of all the data 
d=[]
for i in l:
    if type(i)==int :
        d.append(i)
    elif type(i)==list or type(i)==tuple or  type(i)==set:
        for j in i:
                d.append(j)
    elif type(i)==dict :
        for j in i.items():
            
                  d.append(j[0])

                  d.append(j[1])
                  

                  
print("all the data ")          
print(*d,sep=" , ")
print("length---------->",len(d))
len(d)


set_d=set(d)
for i in set_d:
    
    print(i,"occured",d.count(i)," times")

all the data
1 , 2 , 3 , 4 , 2 , 3 , 4 , 5 , 6 , 3 , 4 , 5 , 6 , 7 , 45 , 4 , 5 , 23 , k1 , sudh , k2 , ineuron , k3 , kumar , 3 , 6 , 7 , 8 , ineuron , data science
length----------> 30
1 occured 1  times
2 occured 2  times
3 occured 4  times
4 occured 4  times
5 occured 3  times
6 occured 3  times
7 occured 2  times
sudh occured 1  times
k3 occured 1  times
8 occured 1  times
ineuron occured 2  times
45 occured 1  times
k2 occured 1  times
k1 occured 1  times
data science  occured 1  times
kumar occured 1  times
23 occured 1  times

In [165]:
#q11 : Try to find out number of keys in dict element

e=[]
for i in l:
    if type(i)==dict :
        for j in i.items():
            
                  e.append(j[0])

                  

                  
print("keys in dict element")          
print(*e,sep=" , ")
print("length---------->",len(e))

keys in dict element
k1 , k2 , k3 , 3 , 7
length----------> 5

In [5]:
#q12 : Try to filter out all the string data 
f=[]
for i in l:
    if type(i)==str:
        f.append(i)
    elif type(i)==list or type(i)==tuple or  type(i)==set:
        for j in i:
            if type(j)==str:
                f.append(j)
    elif type(i)==dict :
        for j in i.items():
            if type(j[0])==str:
                  f.append(j[0])
            if type(j[1])==str:
                  f.append(j[1])
                  

                  
print("all the string data")          
print(*f,sep=" , ")
print("length---------->",len(f))

all the string data
k1 , sudh , k2 , ineuron , k3 , kumar , ineuron , data science
length----------> 8

In [18]:
#q13 : Try to Find  out alphanum in data

d=[]
for i in l:
    if type(i)==int :
        d.append(i)
    elif type(i)==list or type(i)==tuple or  type(i)==set:
        for j in i:
                d.append(j)
    elif type(i)==dict :
        for j in i.items():
            
                  d.append(j[0])

                  d.append(j[1])
                  

                  
print("all the data ")          
print(*d,sep=" , ")
print("length---------->",len(d))
len(d)

z=[]
for i in d:
    if type(i)==str:
        if i.isalnum()==True:
            z.append(i)

        
print("alphanum in data")

print(*z,sep=" , ")
print("length---------->",len(z))
len(z)

all the data
1 , 2 , 3 , 4 , 2 , 3 , 4 , 5 , 6 , 3 , 4 , 5 , 6 , 7 , 45 , 4 , 5 , 23 , k1 , sudh , k2 , ineuron , k3 , kumar , 3 , 6 , 7 , 8 , ineuron , data science
length----------> 30
alphanum in data
k1 , sudh , k2 , ineuron , k3 , kumar , ineuron
length----------> 7

7

In [11]:
#q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 

p=[]
q=[]
r=[]
s=[]
t=[]
for i in l:
    if type(i)==int or type(i)==float :
        p.append(i)
    elif type(i)==list :
        for j in i:
            if type(j)==int or type(j)==float:
                q.append(j)
    elif type(i)==tuple:
        for j in i:
            if type(j)==int or type(j)==float:
                r.append(j)
    elif type(i)==set:
        for j in i:
            if type(j)==int or type(j)==float:
                s.append(j)
    elif type(i)==dict :
        for j in i.items():
            if type(j[0])==int or type(j[0])==float:
                  t.append(j[0])
            if type(j[1])==int or type(j[1])==float:
                  t.append(j[1])
                  

print(" numeric value ")     
product=1
print(p) 
for x in p:
    product *= x
print("product------>",product)
print("sum------>",sum(p))
print(" numeric value in list ")   
print(q)
product=1
for x in q:
    product *= x
print("product------>",product)
print("sum------>",sum(q))
print(" numeric value in tuple ")   
print(r)
product=1
for x in r:
    product *= x
print("product------>",product)
print("sum------>",sum(r))
print(" numeric value in set ")   
print(s)
product=1
for x in s:
    product *= x
print("product------>",product)
print("sum------>",sum(s))
print(" numeric value in dictionary")   
print(t)
product=1
for x in t:
    product *= x
print("product------>",product)
print("sum------>",sum(t))

 numeric value
[]
product------> 1
sum------> 0
 numeric value in list
[1, 2, 3, 4]
product------> 24
sum------> 10
 numeric value in tuple
[2, 3, 4, 5, 6, 3, 4, 5, 6, 7]
product------> 1814400
sum------> 45
 numeric value in set
[45, 4, 5, 23]
product------> 20700
sum------> 77
 numeric value in dictionary
[3, 6, 7, 8]
product------> 1008
sum------> 24

In [25]:
len(r)

10

In [27]:
#q15 : Try to unwrape all the collection inside collection and create a flat list 
d=[]
for i in l:
    if type(i)==int :
        d.append(i)
    elif type(i)==list or type(i)==tuple or  type(i)==set:
        for j in i:
                d.append(j)
    elif type(i)==dict :
        for j in i.items():
            
                  d.append(j[0])

                  d.append(j[1])
                  

                  
print("all the data ")          
print(*d,sep=" , ")
print("length---------->",len(d))
len(d)

all the data
1 , 2 , 3 , 4 , 2 , 3 , 4 , 5 , 6 , 3 , 4 , 5 , 6 , 7 , 45 , 4 , 5 , 23 , k1 , sudh , k2 , ineuron , k3 , kumar , 3 , 6 , 7 , 8 , ineuron , data science
length----------> 30

30